@charset "utf-8";
/* CSS Document */
.right_n{width:986px; height:134px; border:2px solid #e4e4e4; float:right; margin-bottom:10px;}
.right_n p{height:24px; border-bottom:1px solid #e4e4e4; line-height:24px; padding:10px 28px;}
.right_n p a{color:#226ab3; margin-left:16px;}
.right_n p a:hover{color:#000;}
.right_p p:nth-child(3){border-bottom:0;}