@charset "utf-8";
/* CSS Document */
.top_nav{width:980px; margin:0 auto; padding:7px 0; line-height:16px;}
.top_nav p{float:left; margin-right:12px;}
.top_nav ul:nth-child(2){float:left;}
.top_nav ul:nth-child(3){float:right;}
.top_nav ul li{float:left;}
.top_nav ul li span{width:1px; height:12px; background-color:#b2b2b2; display:block; margin:2px 14px 2px 14px;}
.top_nav ul li b{display:inline-block; width:0; height:0; border-top:4px solid #000; border-left:4px solid transparent; border-right:4px solid transparent; margin-left:4px; margin-bottom:2px; cursor:hand; cursor:pointer;}
.top_nav ul li:nth-last-child(2) i{background:url(../images/common/images/ico_03.png) no-repeat; width:18px; height:15px; display:inline-block; vertical-align:-2px; margin-right:2px;}
.top_nav ul li:nth-last-child(1) i{background:url(../images/common/images/ico_05.png) no-repeat; width:18px; height:15px; display:inline-block; vertical-align:-3px; margin-right:2px; margin-left:14px;}
.top_nav ul li a:hover{ text-decoration:underline;}

.main{width:980px; margin:30px auto 0 auto;}
.logo{background:url(../images/login/images/logo_03.png) no-repeat; line-height:50px; font-size:16px; color:#f35305; padding-left:134px; height:50px; margin-bottom:35px;}
.flow{width:980px; margin:0 auto; background-color:#efefef;height:48px; line-height:48px; overflow:hidden;}
.flow li{float:left; width:326px; text-align:center; font-size:14px; color:#6f6f6f; position:relative;}
.flow li i{display:inline-block; width:20px; height:20px; line-height:20px; background:#fff; font-size:16px; font-style:normal; color:#6f6f6f; margin-right:5px; border-radius:50%;}
.flow li:nth-child(3){width:328px;}
.flow li.on{background-color:#f35305; color:#fff;}
.flow li.on:after{content:''; position:absolute; right:-8px; top:12px; display:block; width:0; height:0; border-top:12px solid transparent; border-left:24px solid #f35305; border-bottom:12px solid transparent;}

.sp h1{font-size:18px; color:#000; margin-top:28px; margin-bottom:9px;}
.sp .sp1{height:72px; padding-left:22px; padding-right:18px; border:1px solid #e6e4e3; background-color:#fafafa;}
.sp .sp1 p{font-size:14px; color:#050505; line-height:72px;}
.sp .sp1 p span{color:#f35305;}
.sp .sp1 p:nth-child(1){float:left;}
.sp .sp1 p:nth-child(2){float:right;}
.sp .sp2{height:268px; border:1px solid #e6e4e3; padding:25px;}
.sp .sp2 h2{ font-size:14px; color:#050505; line-height:24px; font-weight:normal; margin:10px 0;}
.sp .sp2 b{ width:90px; height:26px; border:1px solid #e6e4e3; text-align:center; display:inline-block; padding:4px; margin-left:10px; position:relative;}
.sp .sp2 p:nth-of-type(1)~p{margin-right:34px; float:left; margin-bottom:10px;}
.sp .sp2 p:nth-of-type(1)~p b{width:126px;}
.sp .sp2 i{display:inline-block; background:url(../images/shop/images/ico_03.jpg) no-repeat; width:18px; height:18px; vertical-align:4px;}
.sp .sp2 .io{background:url(../images/shop/images/ico_06.jpg) no-repeat;}
.sp .sp2 img{cursor:hand; cursor:pointer;}
.sp .sp2 p span{display:block; width:78px; height:2px; background-color:red; position:absolute; left:36px; top:18px; display:none;}
.sp .sp2 p:nth-of-type(3) span{ left:42px; width:68px;}
.sp .sp2 p:nth-of-type(4) span{ left:50px; width:52px; top:17px;}
.sp .sp2 p:nth-of-type(6) span{ left:44px; width:70px;}
.sp .sp2 p:nth-of-type(5) span{ top:16px; width:60px; left:58px;}
.sp .sp2 p:nth-of-type(7) span{left:46px; width:58px;}
.sp .sp2 b:hover >span{ display:block;}
.sp .sp2 p:nth-last-child(1){width:126px; height:36px; border:1px dashed #fc9d68; text-align:center; line-height:36px; color:#fc9d68; cursor:pointer;}
.sp .sp2 p:nth-last-child(1) i{display:inline-block; width:12px; height:11px; vertical-align:-2px; margin-right:10px;}
.sp input{background:url(../images/shop/images/btn_bg_05.jpg) repeat-x; width:114px; height:38px; border:1px solid #e73c00; color:#fff; font-size:16px; margin:20px auto 70px auto;}
.sp input:hover{background-image:none; background:#fd5115;}

.main h1{margin-top:22px; font-size:18px; line-height:24px; padding:6px 0;}
.main h1 a{float:right; font-size:12px; font-weight:normal; color:#f35305;}
.info1{width:978px; border:1px solid #e6e4e3;}
.info1 p{width:858px; padding:16px 40px; background-color:#f0f0f0; margin:20px 20px 0 20px; color:#000; line-height:22px;}
.info1 p span{ display:block; position:relative;}
.info1 p i{position:absolute; left:-20px; top:6px; width:12px; height:12px; display:block; background:url(../images/shop/images/ico_06.png) no-repeat;}
.info1 p .ii{background:url(../images/shop/images/check_03.png) no-repeat;}
.info1 h2 {margin:16px 20px; font-weight:normal; color:#f35305; font-size:14px; cursor:pointer; cursor:hand;}
.info1 p b{position:absolute; right:2px; font-weight:normal;}
.info1 p b:hover{color:#f35305; cursor:pointer;}
.info1 .add{height:233px; padding:19px 0 24px 28px; border:1px solid #e6e4e3; width:921; margin:0 20px 20px 20px; background-color:#f8f8f8; color:#000; line-height:30px; display:none;}
.info1 .add li span{color:rgba(0,0,0,0.6);}
.info1 .add li input[type=text]{margin:0 12px 10px 6px; height:28px; width:220px; border:1px solid #e6e4e3;}
.info1 .add li input[type=text]:nth-of-type(4){width:508px;}
.info1 .add li em{font-style:normal; width:60px; text-align:right; display:inline-block;}
.info1 .add li input[type=submit]{width:98px; height:32px; border:1px solid #e73c00; background:url(../images/shop/images/btn_bg_05.jpg) repeat-x; margin-left:66px; color:#fff;}
.info1 .add li input[type=submit]:hover{background-image:none; background:#fd5115;}
.info2{width:898px; border:1px solid #e6e4e3; padding:22px 40px;}
.info2 input{margin-right:6px; vertical-align:-1px;}
.info2 p{color:#000; line-height:22px;}

table{width: 978px;margin:0 auto;border: 1px solid #e6e4e3;border-bottom: 0;color: #000;font-family: "Microsoft YaHei";}
table td{border-bottom:solid 1px #e6e4e3; padding:20px 0;}
table tr:nth-child(1) td{padding:0;}
table tr:nth-child(1){line-height:47px; border-bottom:solid 1px #e6e4e3; background-color:#fafafa;}
table tr:nth-child(1) td:nth-child(1){ padding:0 40px;}
table span{display:table-cell; width:68px; height:68px; border:1px solid #e6e4e3; vertical-align:middle;}
table p:hover{color:blue; cursor:pointer;}
table p{ font-size:14px; line-height:16px; width:188px; display:inline-block;}
table td a{color:#f35305; display:block;}
table td:nth-last-child(1) a:hover{ padding:5px 0; background-color:#f35305; color:#fff;}

.mt{float:right; margin:20px 0; text-align:right;}
.mt p{font-size:16px; color:#000; margin-bottom:24px;}
.mt p span{font-size:22px; color:#f35305;}
.mt input{width:114px; height:38px; margin-left:18px; font-size:16px; color:#fff; border-radius:4px; border:0;}
.mt input[type=button]{background:url(../images/shop/images/btn_bg.jpg) repeat-x; border:1px solid #e69800;}
.mt input[type=button]:hover{background-image:none; background:#f5ac0e;}
.mt input[type=submit]{background:url(../images/shop/images/btn_bg_05.jpg) repeat-x; border:1px solid #e73c00;}
.mt input[type=submit]:hover{background-image:none; background:#fd5115;}

.hot{width:978px; margin:0 auto; border:1px solid #e4e4e4; margin-bottom:50px;}
.hot p{width:960px; line-height:32px; background-color:#f8f8f8; border-bottom:1px solid #e4e4e4; font-size:14px; padding:0 10px;}
.hot dl{text-align:center; float:left; margin-top:20px; width:175px; margin-right:66px;}
.hot dl:nth-child(2){margin-left:40px;}
.hot dl:nth-last-child(1){margin-right:0;}
.hot dt{width:175px; height:150px; display:table-cell; vertical-align:middle;}
.hot dd{line-height:18px; text-align:left;}
.hot dd span{font-size:16px; color:#f35305; margin-right:10px;}
.hot dd:nth-last-child(1){margin-top:5px; margin-bottom:14px;}
.hot dd a:hover{color:#f35305;}
